@page
@model EShop.RazorPage.Pages.Auth.RegisterModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["Title"] = " ثبت نام در سایت";
}
<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="#">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ثبت نام در سایت
    </div>
    <form method="post">
        <div class="form-element-row">
            <label for="phone-number" class="label-element" asp-for="PhoneNumber"></label>
            <div class="form-element-with-icon">
                <input type="text" asp-for="PhoneNumber" class="input-element">
                <i class="fad fa-mobile-alt"></i>
            </div>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-element-row">
            <label for="password" class="label-element" asp-for="Password"></label>
            <div class="form-element-with-icon">
                <input type="password" asp-for="Password" class="input-element">
                <i class="fad fa-key-skeleton"></i>
            </div>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-element-row">
            <label for="password" class="label-element" asp-for="ConfirmPassword"></label>
            <div class="form-element-with-icon">
                <input type="password" asp-for="ConfirmPassword" class="input-element">
                <i class="fad fa-key-skeleton"></i>
            </div>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form-element-row">
            <label class="container-checkbox">
                <a href="#" class="link--with-border-bottom">حریم خصوصی</a> و <a href="#"
                                                                                 class="link--with-border-bottom">شرایط و قوانین</a> استفاده از سرویس های سایت
                همتا را مطالعه نموده
                و با کلیه موارد آن موافقم.
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-element-row text-left">
            <button class="btn-element btn-success-element">
                <i class="fad fa-user-edit"></i>
                ثبت نام در همتا
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>قبلا ثبت‌نام کرده‌اید؟</span>
        <a asp-page="Login" class="link--with-border-bottom">وارد شوید</a>
    </div>
</div>
